@font-face {
    font-family: 'Manuscript Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Manuscript Regular'), url('Manuscript.woff') format('woff');
}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;

}

body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./headingBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

div#content {
    display: flex;
    flex-direction: column;
}

header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);

}

h1 {
    flex: 1 1 auto;
    font-family: "Manuscript Regular";
    font-size: 120px;
    margin: 20px;
    color:azure;
    text-shadow: 2px 2px 4px black;
    font-weight: lighter;
}

h4 {
    flex: 1 1 auto;
    text-shadow: 2px 2px 4px black;
    font-size: 15px;
    color: azure;
    display: flex;
    align-items: center;

}

nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

button.menuButton {
    flex: 1 1 auto;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
    background-color: transparent;
    color: azure;
    border: none;
    padding: 10px 20px;   
}

button.menuButton:hover {
    border-bottom: 5px azure solid;
    padding-bottom: 5px;
}

button.activeTab {
    border-bottom: 5px azure solid;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px 20px 0px 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: stretch;
}

main > p {
    flex: 1 1 auto;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px black;
    font-size: 15px;
    color: azure;
    margin: 30px 20vw;
    line-height: 20px;
}

form {
    display: grid;
    align-items: stretch;
    margin: 40px 30vw;
    justify-content: center;
}

div.input {
    display: flex;
    flex-direction: column;
}

label {
    flex: 1 1 auto;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px black;
    font-size: 15px;
    color: azure;
    margin: 20px 0;
}

button.order {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    height: 50px;
    width: 20vw;
    margin: 50px;
    text-shadow: 2px 2px 4px black;
    font-size: 15px;
    color: azure;
}

footer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
}

footer > p {
    margin: 5px;
    padding: 0;
}

div.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 50px;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 20vw;
    aspect-ratio: 1/1;
    transition: 0.2s all;
}

div.card:hover {
    transform: scale(1.1);
}

img.cardImg {
    max-width: 100%;
    border-radius: 20px;

}